{% extends "base.html" %}
{% load static %}

{% block title %}
{{ section.title }}
{% endblock title %}

{% block description %}
<meta name="description" content="{{ section.seo_name }}">
{% endblock description %}

{% block mathjax %}
<script>
    MathJax = {
        svg: { fontCache: 'global' },
        loader: { load: ['[tex]/mathtools'] },
        tex: { packages: { '[+]': ['mathtools'] } },
    };
</script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
</script>
{% endblock mathjax %}


{% block content %}
<!-- ========================= SIDEBAR START// ========================= -->
<nav class="sidebar sidebar--{{color}} active" id="sidebar">
    <div class="flow sidebar__container">
        <div class="sidebar__box">
            <img src="{% static 'images/logo.svg' %}" alt="Cálculo-aplicado" class="sidebar__logo">
            <a class="sidebar__title" href="{% url 'home_app:index' %}">Unidad {{id}}</a>
        </div>

        {% for chapter in chapters %}
        <div class="dropdown dropdown--{{color}}">
            <button class="dropdown__button"> {{chapter.name}} </button>
            <ul class="dropdown__list" role="list" id="list">
                {% for section in chapter.sections.all %}
                <li><a href="{{section.get_url}}">{{section.name}}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}

    </div>

    <ul class="sidebar__list" role="list">
        <li>
            <img class="sidebar__icon" src="{% static 'images/icons/exercises-list.svg' %}" alt="Listas de ejercicios">
            <a class="sidebar__link" id="modal-1" href="#" role="modal-button">Listas de Ejercicios</a>
        </li>
        <li>
            <img class="sidebar__icon" src="{% static 'images/icons/activities.svg' %}" alt="Actividades">
            <a class="sidebar__link" id="modal-2" href="#" role="modal-button">Actividades</a>
        </li>
        <li>
            <img class="sidebar__icon" src="{% static 'images/icons/assessment.svg' %}" alt="Evaluación">
            {% if exam %}
            <a class="sidebar__link" href="{{exam.url}}" download>Evaluación</a>
            {% else %}
            <a class="sidebar__link" href="#">Evaluación</a>
            {% endif %}
        </li>
        <li>
            <img class="sidebar__icon" src="{% static 'images/icons/resources.svg' %}" alt="Recursos digitales">
            <a class="sidebar__link" id="modal-3" href="#" role="modal-button">Recursos</a>
        </li>
    </ul>

    <button class="sidebar__button sidebar__button-close" id="close-button">
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M20 40C31.0284 40 40 31.0284 40 20C40 8.97164 31.0284 0 20 0C8.97164 0 0 8.97164 0 20C0 31.0284 8.97164 40 20 40ZM15.4884 12.845C14.8367 12.1934 14.8367 11.14 15.4884 10.4884C15.8134 10.1634 16.24 10 16.6667 10C17.0934 10 17.5201 10.1634 17.8451 10.4884L26.1784 18.8216C26.83 19.4733 26.83 20.5266 26.1784 21.1783L17.845 29.5116C17.1934 30.1633 16.14 30.1633 15.4884 29.5116C14.8367 28.86 14.8367 27.8066 15.4884 27.155L22.6434 20L15.4884 12.845Z" />
        </svg>
    </button>

</nav>
<!-- ========================= SIDEBAR END// ========================= -->

<!-- MODAL START - EXERCISES LIST //-->
<div class="modal" aria-labelledby="modal-1" role="modal">
    <button class="modal__button" role="modal-close">
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M17.7485 15.025L29.4299 3.34324C30.1901 2.58339 30.1901 1.35482 29.4299 0.594973C28.67 -0.164877 27.4415 -0.164877 26.6816 0.594973L14.9998 12.2767L3.31843 0.594973C2.55822 -0.164877 1.33 -0.164877 0.570155 0.594973C-0.190052 1.35482 -0.190052 2.58339 0.570155 3.34324L12.2516 15.025L0.570155 26.7068C-0.190052 27.4666 -0.190052 28.6952 0.570155 29.455C0.948834 29.8341 1.44674 30.0245 1.94429 30.0245C2.44184 30.0245 2.93939 29.8341 3.31843 29.455L14.9998 17.7733L26.6816 29.455C27.0606 29.8341 27.5582 30.0245 28.0557 30.0245C28.5533 30.0245 29.0508 29.8341 29.4299 29.455C30.1901 28.6952 30.1901 27.4666 29.4299 26.7068L17.7485 15.025Z" />
        </svg>
    </button>
    <div class="flow modal__content">
        <h3 class="modal__title">
            Listas de Ejercicios de la Unidad {{id}}
        </h3>

        <!-- Accordion start // -->
        <div class="accordion accordion--modal flow">

            {% for chapter in chapters %}
            <div class="accordion__item">
                <button class="accordion__button">
                    <div class="accordion__box">
                        <img class="accordion__icon" src="{% static 'images/modal-icons/exercises-modal.svg' %}"
                            alt="Listas de ejercicios">
                        <h2 class="accordion__title"> {{chapter.name}} </h2>
                    </div>
                    <span class="plus left-auto">&#43;</span>
                    <span class="minus left-auto">&#8722;</span>
                </button>
                <div class="accordion__content">
                    <ul class="accordion__list" role="list" id="list">
                        {% for resource in chapter.resources.all %}

                        {% if resource.file_type == "list" %}
                        <li>
                            <div class="accordion__box">
                                <img class="accordion__icon" src="{% static 'images/modal-icons/pdf.svg' %}"
                                    alt="Listas de ejercicios">
                                <a class="accordion__link" href="{{resource.file.url}}" download>
                                    {{ resource.name }} </a>
                            </div>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Accordion end // -->

    </div>
</div>
<!-- MODAL END //-->

<!-- MODAL START - ACTIVITIES //-->
<div class="modal" aria-labelledby="modal-2" role="modal">
    <button class="modal__button" role="modal-close">
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M17.7485 15.025L29.4299 3.34324C30.1901 2.58339 30.1901 1.35482 29.4299 0.594973C28.67 -0.164877 27.4415 -0.164877 26.6816 0.594973L14.9998 12.2767L3.31843 0.594973C2.55822 -0.164877 1.33 -0.164877 0.570155 0.594973C-0.190052 1.35482 -0.190052 2.58339 0.570155 3.34324L12.2516 15.025L0.570155 26.7068C-0.190052 27.4666 -0.190052 28.6952 0.570155 29.455C0.948834 29.8341 1.44674 30.0245 1.94429 30.0245C2.44184 30.0245 2.93939 29.8341 3.31843 29.455L14.9998 17.7733L26.6816 29.455C27.0606 29.8341 27.5582 30.0245 28.0557 30.0245C28.5533 30.0245 29.0508 29.8341 29.4299 29.455C30.1901 28.6952 30.1901 27.4666 29.4299 26.7068L17.7485 15.025Z" />
        </svg>
    </button>
    <div class="flow modal__content">
        <h3 class="modal__title">
            Actividades de la Unidad {{id}}
        </h3>

        <!-- Accordion start // -->
        <div class="accordion accordion--modal flow">
            {% for chapter in chapters %}
            <div class="accordion__item">
                <button class="accordion__button">
                    <div class="accordion__box">
                        <img class="accordion__icon" src="{% static 'images/modal-icons/activities-modal.svg' %}"
                            alt="Listas de ejercicios">
                        <h2 class="accordion__title"> {{chapter.name}} </h2>
                    </div>
                    <span class="plus left-auto">&#43;</span>
                    <span class="minus left-auto">&#8722;</span>
                </button>
                <div class="accordion__content">
                    <ul class="accordion__list" role="list" id="list">
                        {% for resource in chapter.resources.all %}

                        {% if resource.file_type == "activity" %}
                        <li>
                            <div class="accordion__box">
                                <img class="accordion__icon" src="{% static 'images/modal-icons/pdf.svg' %}"
                                    alt="Listas de ejercicios">
                                <a class="accordion__link" href="{{resource.file.url}}" download>
                                    {{ resource.name }} </a>
                            </div>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}

        </div>
        <!-- Accordion end // -->

    </div>
</div>
<!-- MODAL END //-->

<!-- MODAL START - RESOURCES //-->
<div class="modal" aria-labelledby="modal-3" role="modal">
    <button class="modal__button" role="modal-close">
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M17.7485 15.025L29.4299 3.34324C30.1901 2.58339 30.1901 1.35482 29.4299 0.594973C28.67 -0.164877 27.4415 -0.164877 26.6816 0.594973L14.9998 12.2767L3.31843 0.594973C2.55822 -0.164877 1.33 -0.164877 0.570155 0.594973C-0.190052 1.35482 -0.190052 2.58339 0.570155 3.34324L12.2516 15.025L0.570155 26.7068C-0.190052 27.4666 -0.190052 28.6952 0.570155 29.455C0.948834 29.8341 1.44674 30.0245 1.94429 30.0245C2.44184 30.0245 2.93939 29.8341 3.31843 29.455L14.9998 17.7733L26.6816 29.455C27.0606 29.8341 27.5582 30.0245 28.0557 30.0245C28.5533 30.0245 29.0508 29.8341 29.4299 29.455C30.1901 28.6952 30.1901 27.4666 29.4299 26.7068L17.7485 15.025Z" />
        </svg>
    </button>
    <div class="flow modal__content">
        <h3 class="modal__title">
            Recursos de la Unidad {{id}}
        </h3>

        <!-- Accordion start // -->
        <div class="accordion accordion--modal flow">
            {% for chapter in chapters %}
            <div class="accordion__item">
                <button class="accordion__button">
                    <div class="accordion__box">
                        <img class="accordion__icon" src="{% static 'images/modal-icons/slide-modal.svg' %}"
                            alt="Diapositivas de la Unidad">
                        <h2 class="accordion__title"> {{chapter.name}} </h2>
                    </div>
                    <span class="plus left-auto">&#43;</span>
                    <span class="minus left-auto">&#8722;</span>
                </button>
                <div class="accordion__content">
                    <ul class="accordion__list" role="list" id="list">
                        {% for resource in chapter.resources.all %}

                        {% if resource.file_type == "slide" %}
                        <li>
                            <div class="accordion__box">
                                <img class="accordion__icon" src="{% static 'images/modal-icons/pdf.svg' %}"
                                    alt="Listas de ejercicios">
                                <a class="accordion__link" href="{{resource.file.url}}" download>
                                    {{ resource.name }} </a>
                            </div>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}

        </div>
        <!-- Accordion end // -->

    </div>
</div>
<!-- MODAL END //-->

<!-- ========================= NAVIGATION START// ========================= -->
<nav class="navigation navigation--{{color}}">
    <ul class="navigation__list" role="list">
        <li class="navigation__item">
            <div class="navigation__logo-box">
                <img src="{% static 'images/logo.svg' %}" alt="Cálculo-aplicado" class="navigation__logo">
                <a class="navigation__link" href="{% url 'home_app:index' %}">Cálculo Aplicado</a>
            </div>
        </li>

        <li class="navigation__item">
            <div class="navigation__button">
                <span class="navigation__icon">&nbsp;</span>
            </div>
        </li>
    </ul>
</nav>
<!-- ========================= NAVIGATION END// ========================= -->

<!-- ========================= NAVIGATION-MOBILE START// ========================= -->
<nav class="navigation-mobile navigation-mobile--{{color}}">
    <!-- Accordion-mobile start // -->
    <div class="accordion accordion--{{color}}">

        {% for chapter in chapters %}
        <div class="accordion__item">
            <button class="accordion__button">
                {{chapter.name}}
                <span class="plus left-auto">&#43;</span>
                <span class="minus left-auto">&#8722;</span>
            </button>
            <div class="accordion__content">
                <ul class="accordion__list" role="list" id="list">
                    {% for section in chapter.sections.all %}
                    <li><a class="accordion__link" href="{{section.get_url}}">{{section.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}


        <div class="accordion__item">
            <button class="accordion__button">
                Recursos Unidad {{id}}
                <span class="plus left-auto">&#43;</span>
                <span class="minus left-auto">&#8722;</span>
            </button>

            <div class="accordion__content">
                <ul class="accordion__list" role="list" id="list">
                    <li>
                        <img class="accordion__icon" src="{% static 'images/icons/exercises-list.svg' %}"
                            alt="Listas de ejercicios">
                        <a class="accordion__link" href="#" id="modal-1" role="modal-button"> Listas de Ejercicios
                        </a>
                    </li>
                    <li>
                        <img class="accordion__icon" src="{% static 'images/icons/activities.svg' %}" alt="Actividades">
                        <a class="accordion__link" href="#" id="modal-2" role="modal-button"> Actividades </a>
                    </li>
                    <li>
                        <img class="accordion__icon" src="{% static 'images/icons/assessment.svg' %}" alt="Evaluación">
                        {% if exam %}
                        <a class="accordion__link" href="{{exam.url}}" download>Evaluación</a>
                        {% else %}
                        <a class="accordion__link" href="#">Evaluación</a>
                        {% endif %}
                    </li>
                    <li>
                        <img class="accordion__icon" src="{% static 'images/icons/resources.svg' %}"
                            alt="Recursos digitales">
                        <a class="accordion__link" href="#" id="modal-3" role="modal-button"> Recursos </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Accordion-mobile end // -->
</nav>
<!-- ========================= NAVIGATION-MOBILE END// ========================= -->


<!-- ========================= MAIN START// ========================= -->
<main class="unit-container">
    <button class="sidebar__button sidebar__button-open" id="open-button">
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M20 0C8.97164 0 0 8.97164 0 20C0 31.0284 8.97164 40 20 40C31.0284 40 40 31.0284 40 20C40 8.97164 31.0284 0 20 0ZM24.5116 27.155C25.1633 27.8066 25.1633 28.86 24.5116 29.5116C24.1866 29.8366 23.76 30 23.3333 30C22.9066 30 22.4799 29.8366 22.1549 29.5116L13.8216 21.1784C13.17 20.5267 13.17 19.4734 13.8216 18.8217L22.155 10.4884C22.8066 9.83672 23.86 9.83672 24.5116 10.4884C25.1633 11.14 25.1633 12.1934 24.5116 12.845L17.3566 20L24.5116 27.155Z" />
        </svg>
    </button>
    <!-- ========================= SECTION CONTENT START// ========================= -->
    <section class="unit-section flow">
        {{ section.content|safe }}
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
</main>
<!-- ========================= MAIN END// ========================= -->

{% endblock content %}


{% block js %}
<script src="{% static 'js/app.js' %}"></script>
{% endblock js %}