{% load static %}

<header class="navigation navigation--main">
    <ul class="navigation__list" role="list">
        <li class="navigation__item">
            <img src="{% static 'images/logo.svg' %}" alt="Cálculo-aplicado" class="navigation__logo">
        </li>

        <li class="navigation__item">
            <a class="navigation__link" href="#">Cálculo Aplicado</a>
        </li>

        <li class="navigation__item">
            <div class="navigation__button">
                <span class="navigation__icon" id="modal-1" role="modal-button">&nbsp;</span>
            </div>
        </li>
    </ul>
</header>