{% load static %}
<!DOCTYPE html>
<html lang="es-MX">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block description %}
    {% endblock description %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/logo.svg' %}" type="image/png">
    <title>
        {% block title %}
        {% endblock title %}
    </title>

    {% block mathjax %}
    {% endblock mathjax %}
</head>

<body>
    <!-- Page main content -->
    {% block content %}
    {% endblock content %}

    <!-- Additional scripts -->
    {% block js %}
    {% endblock js %}
    <script src="{% static 'js/modal.js' %}"></script>
</body>

</html>